<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="registered/index::head-part"></div>
    <div th:replace="header :: myheader"></div>
    <style>
        .fa-shopping-cart {
            color: #FFF
        }

        #cart-btn {
            margin-right: 15px;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
    <title>Logged Out</title>
</head>
<body class="text-center">
<br>
<br>
<br>
<h2 th:text="'User logged out successfully'"></h2>
<a th:href="@{/}" th:text="'Click here to go back to login page'"></a>
</body>
</html>