<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="registered/index::head-part"></div>

    <div th:replace="header :: myheader"></div>
    <style>
        .fa-shopping-cart {
            color: #FFF
        }

        #cart-btn {
            margin-right: 15px;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
    <title>Create Recipe</title>
</head>
<body class="text-center">
<br>
<h1>Create Recipe</h1>
<br/>
<form th:action="@{/registered/save}" th:object="${recipe}" method="post">
    <div class="row mb-3">
        <label class="col-sm-3" th:text="'Recipe Name:'"></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" th:field="*{recipeName}" th:required="true"
                   th:oninvalid="this.setCustomValidity('Recipe name cannot be blank')"
                   th:oninput="this.setCustomValidity('')"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3" th:text="'Prep Time (In minutes):'"></label>
        <div class="col-sm-8">
            <input type="number" step="1" class="form-control" th:field="*{prepTime}" th:required="true"
                   th:oninvalid="this.setCustomValidity('Recipe prep time cannot be blank')"
                   th:oninput="this.setCustomValidity('')"/>
        </div>
    </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3" th:text="'Cook Time (In minutes):'"></label>
        <div class="col-sm-8">
            <input type="number" step="1" class="form-control" th:field="*{cookTime}" th:required="true"
                   th:oninvalid="this.setCustomValidity('Recipe cook time cannot be blank')"
                   th:oninput="this.setCustomValidity('')"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3" th:text="'Ingredient(Comma Seprated):'"></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" th:field="*{temp_ingre}" th:required="true"
                   th:oninvalid="this.setCustomValidity('There has to be atleast 1 ingredient')"
                   th:oninput="this.setCustomValidity('')"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3" th:text="'Instruction:'"></label>
        <div class="col-sm-8">
            <textarea type="text" class="form-control" th:field="*{instruction}" required="required"
                      th:oninvalid="this.setCustomValidity('Instructions cannot be blank')"
                      th:oninput="this.setCustomValidity('')"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-4"></label>
        <div class="col-sm-4">
            <button class="w-100 btn btn-lg btn-dark" type="submit" th:text="'Save'"></button>
        </div>
    </div>
</form>
</body>

</html>