<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="registered/index::head-part"></div>
    <div th:replace="header :: myheader"></div>
    <style>
        .fa-shopping-cart {
            color: #FFF
        }

        #cart-btn {
            margin-right: 15px;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
    <title>Create Plan</title>
</head>
<body class="text-center">
<br>
<h1>Create Plan</h1>
<br/>
<p th:text="${recipe.recipeName}"></p>
<form th:action="@{/registered/save-meal(recipeId=${recipe.id})}" th:object="${meal}" method="post">
    <div class="row mb-3">
        <label class="col-sm-3" th:text="'Planning date:'"></label>
        <div class="col-sm-8">
            <input type="date" class="form-control" th:field="*{dateToBeMade}" th:required="true"
                   th:oninvalid="this.setCustomValidity('Date cannot be blank')"
                   th:oninput="this.setCustomValidity('')"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2"></label>
        <label class="col-sm-2"></label>
        <div class="col-sm-4">
            <button class="w-100 btn btn-lg btn-dark" type="submit" th:text="'Save'"></button>
        </div>
    </div>
</form>
</body>
</html>