<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="registered/index::head-part"></div>
    <div th:replace="header :: myheader"></div>
    <style>
        .fa-shopping-cart {
            color: #FFF
        }

        #cart-btn {
            margin-right: 15px;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
    <title>Search Recipe</title>
</head>
<body class="text-center">
<br>
<h1>Recipe Search</h1>
<br>
<form th:action="@{/registered/search}" th:object="${recipe}" method="post">
    <div class="row mb-3">
        <label class="col-sm-2"></label><label class="col-sm-2"></label>
        <div class="col-4">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="name"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2"></label><label class="col-sm-2"></label>
        <div class="col-sm-4">
            <button class="btn btn-lg btn-dark" type="submit" th:text="Search"></button>
        </div>
    </div>
</form>
<p th:text="${searchString}"></p>
<div th:replace="/registered/fragment.html::recipe_table">
</div>

</body>
</html>

